  .category {
    position: relative;
    width: 21.6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
  }
  .category:hover{
    transform: scale(95%);
  }
  
  .category-image {
    width: 100%;
  }
  
  .category-text {
    width: 100%;
    position: absolute;
    text-align: center;
    line-height: 2.5rem;
    background-color: var(--white);
  }